

@font-face {
    font-family: "MonoCutesy";
    src: url('fonts/MonoCutesy-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MonoCutesy";
    src: url('fonts/MonoCutesy-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "MonoCutesyMoney";
    src: url('fonts/MonocutesyMoney-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Winsome";
    src: url('fonts/Winsome-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'MonoCutesy';
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*---navigation bar---*/
.header {
    background-color:#FFF0d9;
    margin: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
}


nav {
    display: flex;
    padding: 0% 4%;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 2px 15px;
    position: relative;
}

.nav-links ul li a {
    font-family: 'MonoCutesy';
    color: #40241b;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s
}

.nav-links ul li a:hover { 
    color: #40241b;
    text-decoration: underline;
}

nav .fa {
    display: none;
}

.fa-bars {
    display: none;
}

@media(max-width: 700px) {
    .nav-links { 
        text-align: left;
        width: 100%;
    }
    .nav-links ul {
        padding-left: 0; 
        margin: 0;
        margin-top: 20px;
    }
    .nav-links ul li {
        display: block;
        padding: 12px 20px;
        
    }
    .header {
        position: fixed;
        background-color: #87c1e8;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        left: auto;
        text-align: left;
        z-index: 1000;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color:#40241b;
        margin: 10px;
        padding: 10px;
        font-size: 18px;
        cursor: pointer;
    }

    .fa-bars {
        position: fixed;
        right: 40px;
        top: 20px;
        padding: 20px 20px;
        color: #40241b;
        font-size: 24px;  
        cursor: pointer;
        z-index: 999;
    }
}


/*---cover page---*/

.cover {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(238, 204, 165, 0.7), rgba(36, 28, 28, 0.486)), url(assets/banner.jfif);
    background-position:center;
    background-size: cover;
    position: relative;
}
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center; 

}

.text-box h1 {
    color: #fff;
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 25px;
    color: #fff;
}

.cover-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 14px 33px;
    border-radius: 20px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
    
}

.cover-btn:hover {
    background: #87c1e8;
    color: #40241b;
    transition: 0.3s;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 60px;
    }
}

/*---about area---*/

.about {
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1 {
    font-family: 'Winsome';
    font-size: 40px;
    color:#40241b;
}
p {
    font-family: 'MonoCutesy';
    font-size: 20px;
    padding: 1px;
    padding-bottom: 40px;
}

/*---menu products---*/

.products-btn {
    border: 1px solid #40241b;
    background: #FFF0d9;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.products-btn:hover {
    background: #94cdf3;
    transition: background-color 0.3s;
    font-family: 'MonoCutesy';
    font-weight: bold;
}

.products {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

.products2 {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}

.products-col {
    flex-basis: 31%;
    border-radius: 20px;
    margin-bottom: 5%;
    text-align: left;
}

.products-col img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;

}

.products-col p {
    padding: 0;
    text-align: left;
    margin-bottom: 2px;
}

.products-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
/*---made with love---*/

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.process-bg {
    width: 100%;
    background-color: #FFF0d9;
}

.process {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 40px;
}

.process-col {
    flex-basis: 40%;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.process-col img {
    width: 100%;
    overflow: hidden;
    height: 100%;
    object-fit: cover;
}

/*---reviews page---*/

.reviews {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.reviews-col {
    flex-basis: 31%;
    background: #FFF0d9;
    border:1px solid #7C5548;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 25px 12px;
    box-sizing: border-box;
    transition: box-shadow 0.6s;
}

.reviews-col:hover {
    box-shadow: 0 0 20px 0px #87c1e8;
    transition: 0.5s;
}

.reviews-col h3 {
    font-family: 'MonoCutesy';
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
}

span {
    display: inline-block;
    margin-bottom: 15px;
}

/*---footer---*/

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    color:#7C5548;

}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-family: "Winsome";
    font-size: 25px;
}

.footer p {
    margin-bottom: 10px;
}

.icons .fa {
    color:#40241b;
    margin: 0 13px;
    cursor: pointer;
    padding: 0px 0;
}

.fa.fa-heart-o {
    color:#40241b;
    font-size: 14px;
}



/*
blue #78A5CE // #87c1e8
beige #FFF0d9
pink #DDA4B4 / #fabbcd
brow #7C5548
darker brown #40241b

*/